# 输出目录
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Vercel
.vercel

# 临时文件
*.tmp
*.bak
